html, body {
	height: 100%;
	width: 100%;
}

/* NAVBAR CSS */
.navbar {
	margin-bottom: 0px;
	background-color: #333;
	border: 0px;
}

#my_navbar {
	margin-bottom: 0px;
}

.navbar-nav {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.nav > li > a:not(.text_link) {
	padding: 10px 15px;
}

#email_input {
	padding-left: 15px;
	padding-right: 15px;
}
/* END OF NAVBAR CSS */

.background {
	display: table;
	position: relative;
	height: 100%;
	width: 100%;
}

#wallpaper {
	background: url('NY_basketball_ct_upsidedown_blur.jpg') no-repeat center center scroll;
	background-size: cover;
}